doctype html
html
  head
    block head
      title #{title}
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/layouts/core.min.css?#{cacheBreaker}')
    link(rel='stylesheet', href='/layouts/style.css')
    link(rel='stylesheet', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
    link(rel="stylesheet", href="/layouts/alertify.css", id="alertifyCSS")
    block neck
  body
    div.navbar.navbar-default.navbar-fixed-top
      div.container
        div.navbar-header
          a.navbar-brand(href='/')
            img.navbar-logo(src='/media/logo-symbol-64x64.png', alt='Logo')
            span.navbar-brand-label #{projectName}
          button.navbar-toggle.collapsed(data-toggle='collapse', data-target='.my-navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
        div.navbar-collapse.my-navbar-collapse.collapse
          ul.nav.navbar-nav
            li: a(href='/') Home
            li: a(href='/about/') About
            li: a(href='/jobs/') Jobs
            if user.accountType == "client"
               li: a(href='/bids/') Bids Recieved
            if !(user.username)
               li: a(href='/signup/') Sign Up
            if user && user.username
               li: a(href='/logout/') Sign Out
            li: a(href='/contact/') Contact
          ul.nav.navbar-nav.navbar-right
            if user && user.username
              if user.accountType == "client"
                  li: a(href='/myjobs')
                   i.fa.fa-calendar
                   | My Jobs
              if user.accountType == "recruiter"
                  li: a(href='/mybids')
                   i.fa.fa-calendar
                   | My Bids
              if user.accountType == "client"
                  li: a(href='/jobs/add')
                   i.fa.fa-plus
                   | Add Jobs
              li: a(href='/account/settings')
                i.fa.fa-user
                |  #{user.username}
            else
              li: a(href='/login/')
                i.fa.fa-user
                |  Sign In

    div.page
      div.container
        != messages()
        block body

    div.footer
      div.container
        span.copyright.pull-right
          |&#169; #{copyrightYear} #{copyrightName}
        ul.links
          li: a(href='/') Home
          li: a(href='/contact/') Contact
        div.clearfix

    div.ajax-spinner
      img(src='/media/ajax-pulse.gif', alt='Loading')
      

    //if lte IE 9
      script(src='/layouts/ie-sucks.min.js?#{cacheBreaker}')
    script(src='https://code.jquery.com/jquery-1.12.4.js')
    script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone-min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js')
    script(src='/layouts/core.min.js?#{cacheBreaker}')
    script(src='/layouts/alertify.js') 
    script(src='/layouts/main.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js')

    block feet